.error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000080;
  background-image: url('/commands/error/assets/error.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 80%;
  z-index: 1400;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Active */
.error.on {
  opacity: 1;
  visibility: visible;
}
