/* nice */
.nice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nice .word {
  transform: translate(0, 0%) scale(1, 1.9);
  color: black;
}

.nice .char {
  opacity: 0;
}

.nice .char.on {animation: font 1s cubic-bezier(0.45, 0, 0.55, 1);}
.nice .char.on:nth-child(1) {animation-delay: 0s;}
.nice .char.on:nth-child(2) {animation-delay: 0.2s;}
.nice .char.on:nth-child(3) {animation-delay: 0.4s;}
.nice .char.on:nth-child(4) {animation-delay: 0.6s;}

@keyframes font {

  0%, 100% {
    opacity: 0;
    font-variation-settings: "wght" 50;
  }

  20%, 80% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    font-variation-settings: "wght" 900;
  }
}