/* shape — scoped to #shape-container */
.shape-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  --shapeSize: 48px;
  --shapeRect: calc(var(--shapeSize) * 4.5 / 3);
  --shapeRectAlign: calc(((var(--shapeRect) - var(--shapeSize)) / 2) * -1);
  --shapeBorder: calc(var(--shapeSize) / 2);
}

.chat-shape {
  position: absolute;
  top: calc(100% - var(--shapeSize) - 40px);
  left: calc(50% - (var(--shapeSize) / 2));
  background: pink;
  width: var(--shapeSize);
  height: var(--shapeSize);
  opacity: 0;
  transition: all 2s cubic-bezier(0.33, 1, 0.68, 1);
  transform-origin: bottom center;
}

.chat-shape.on {
  opacity: 1;
}

.chat-shape.circle {
  border-radius: var(--shapeBorder);
}

.chat-shape.square {
  border-radius: 0;
}

.chat-shape.rect {
  transform: scaleX(1.6);
  border-radius: 0;
}
