.music-wrapper {
  z-index: 50;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.music-wrapper #player {
  overflow: hidden;
  pointer-events: all;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
  width: 400px;
  height: 225px;
}

/* zoom */
.music-wrapper.zoom #player {
  width: 100%;
  height: 100%;
}
