/* wow */
.wow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.wow span {
  transform: translate(0, 0%) scale(1, 3.2);
  opacity: 0;
}

.wow span.on {
  animation: wow 1s cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes wow {

  0%,
  100% {
    opacity: 0;
    font-variation-settings: "wght" 50;
  }

  20%,
  80% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    font-variation-settings: "wght" 900;
  }
}